/*
code written by : @ 0 x A r w a
 */
:root{
    /*add fonts and colors here*/
    --darkBlue : #011627;
    --kindaTiffany: #559093;
    --ashyTiffany: #386668;
    --strongYellow: #ff9f1c;
    --ashyYellow: #c17f25;
    --boldRed:  #9d0208;
    --ashyRed: #79151a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue);
}
.calculator-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
            "result result result AC"
            "square-root power modlue plus"
            "one two three minus"
            "four five six product"
            "seven eight nine divition"
            "zero zero dot equals";
    justify-items: center;
    height: 35em;
    width: 25em;
    position: fixed;
    /* to center the calcolator body in the center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--kindaTiffany);
    border-radius: 5px;
    /* shadow for the calcolator */
    box-shadow: 13px 13px 17px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 13px 13px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 13px 17px -1px rgba(0,0,0,0.75);
}
/*placing numbers in the grid*/
.result { grid-area: result;}  .one { grid-area: one; }
.two { grid-area: two; }  .three { grid-area: three; }
.four { grid-area: four; }  .five { grid-area: five; }
.six { grid-area: six; }  .seven { grid-area: seven; }
.eight { grid-area: eight; }  .nine { grid-area: nine; }
.zero { grid-area: zero; width: 9em !important;
    border-radius: 10px !important; margin-right: 10px !important;}
.plus { grid-area: plus; }  .minus { grid-area: minus; }
.product { grid-area: product; }  .divition { grid-area: divition; }
.equals { grid-area: equals; }
.AC { grid-area: AC ; background-color: var(--boldRed) !important ;}
.AC:hover{background-color: var(--ashyRed) !important ;}
.square-root { grid-area: square-root; }
.dot { grid-area: dot; }
.power { grid-area: power; }  .modlue { grid-area: modlue; }

.btn{
    width: 16rem; height: 3em;
    background-color: var(--ashyTiffany);
    border-radius: 5px;
    box-shadow:inset 0 0 5px !important;
    font-size: 24px;
}
.btn2{
    padding: 1.75rem; width: 5rem;
    background-color: var(--strongYellow);
    border-radius: 10px;
}
button{
    margin: auto; padding: initial; border: none;
    /*buttons shadow */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    font-weight: bold; font-size: 20px;
    font-family: monospace;
    text-align: center;
}
/*remove blue borders after clicking the number*/
button:focus { outline: none; }
.btn2:hover{
    background-color: var(--ashyYellow);
}
.sentence{
    font-size: 3rem; color: whitesmoke; font-family: monospace;
    margin: 3rem; text-align: center;
}
.logo{
    filter: brightness(0) invert(1); display: block;
    width: 5rem; height: auto; margin: 50px 20px ;
}
footer{
    margin: -20px auto auto; text-align: center;
    color: whitesmoke; font-size: 14px;
    font-family: "PT Sans";
}
.logo , .sentence , footer{
    opacity: 0.5;
}
@media screen and (max-width: 480px){
    .calculator-body{
        height: 120vw;
        width: 90vw;
        margin-top: -5vw;
    }
    .logo{
        display:inline-flex;
        flex-direction: row;
        margin: 152vw 2vw 0vw 6vw;
        width: 10vw;
    }
    footer{
        font-size: 12px;
        margin-top: 0.1vw;
    }
    .sentence{
        font-size: 18px;
        margin: 3vw 1vw 0vw 20vw;
        position: fixed;
    }
    .btn2{
        width: 18vw;
        height: 12vw;
        padding: 8vw;
    }
    .btn{
        width: 58vw;
        height: 18vw;
        font-size: 16px;
    }
    button{
        font-size: 18px;
        padding: 0px !important;
        height: 3rem !important;
    }
    .zero{
        width: 40vw !important;
        margin-left: 1em;
        padding: 8vw;
    }

}
